.personal-solution {
  width: 1120px;
  height: 162px;
  padding: 24px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: -78px;
  left: 50%;
  transform: translateX(-50%);
  &__left {
    display: flex;
    align-items: center;
    img {
      margin-right: 32px;
    }
  }
  &_invest {
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
  }
  &_franchise {
    margin-top: 8px;
  }
  &__consultant {
    display: flex;
    align-items: center;
    &_img {
      width: 48px;
      height: 48px;
      margin-right: 8px;
    }
    &_name,
    &_job {
      font-size: 16px;
      line-height: 24px;
    }
  }
  hr {
    display: none;
  }
}
